html {
  --active-color: #20487b;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  scrollbar-width: thin;
  box-sizing: border-box;
  font-family: 'Roboto', serif;
  scrollbar-color: rgba(255, 255, 255, 0.565) transparent;
}

body {
  color: #fff;
  height: 100vh;
  background: radial-gradient(circle, rgb(75, 120, 180) 0%,  rgb(62,115,183) 40%, rgba(31,90,170,1) 100%);
}

a {
  color: inherit;
}

#root {
  height: 100%;
  display: grid;
  place-items: center;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.clouds {
  top: clamp(5vh, 7.5%, 20vh);
  left: 10.5vw;
  width: 10rem;
  height: 10rem;
  position: absolute;
  background-size: contain;
  background-image: url('/cloud.png');
  animation: drift 20s ease-in-out infinite;
}

.clouds::before {
  content: '';
  z-index: 1;
  width: 100%;
  height: 100%;
  top: -1vh;
  left: 35vw;
  scale: 1.25;
  position: absolute;
  border-radius: 16px;
  background-size: contain;
  background-image: url('/cloud.png');
  animation: float 10s ease-in-out infinite;
}

.clouds::after {
  content: '';
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 1vh;
  left: 70vw;
  scale: 0.8;
  z-index: -1;
  position: absolute;
  border-radius: 16px;
  background-size: contain;
  background-image: url('/cloud.png');
}

.app-container {
  display: flex;
  min-height: 0;
  position: relative;
  border-radius: 16px;
  width: clamp(80%, 800px, 950px);
  height: clamp(650px, 75%, 700px);
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.side-navigation {
  gap: 3rem;
  width: 6.5%;
  height: 100%;
  color: #fff;
  display: flex;
  min-width: 4rem;
  font-size: 1.15rem;
  align-items: center;
  padding: 2rem 1.2rem;
  flex-direction: column;
  border-radius: 16px 0 0 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.side-navigation ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}

.side-navigation ul li {
  cursor: pointer;
  padding: 0.55rem;
  display: inline-flex;
  border-radius: 0.4rem;
  transition: background-color 0.15s ease-in-out;
}

.side-navigation ul li.active {
  background: var(--active-color);
}

.side-navigation a:hover,
.side-navigation li:hover {
  background: var(--active-color);
}

.icon {
  width: 60%;
  overflow: hidden;
	position: relative;
  aspect-ratio: 1 / 1;
}

.icon::before, .icon::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 100%;
  inset: -2.5px 0 auto auto;
  border-radius: 0 0 5rem 5rem;
  background: #fff;
}

.icon::after {
  inset: auto auto -2.5px 0;
  border-radius: 5rem 5rem 0 0;
}
.side-navigation .github-link {
  display: flex;
  padding: 10px;
  margin-top: auto;
  border-radius: 50%;
  transition: background-color 0.15s ease-in-out;
}

.side-navigation .github-link:hover {
  background: var(--active-color);
}

main {
  display: grid;
  padding: 2rem;
  --gap: 1.25rem;
  --search-bar-height: 2.5rem;
  --middle-column-width: 50%;
  gap: var(--gap);
  grid-template: 'searchbar . .'
                 'content content content';
  width: 100%;
  grid-template-rows: var(--search-bar-height) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) var(--middle-column-width) minmax(0, 1fr);
}

.dashboard {
  --padding: 1.25rem;
  --border-radius: 1rem; 
  --dashboard-first-row-height: 45%;
  
  width: 100%;
  display: grid;
  min-height: 0;
  gap: var(--gap);
  grid-area: content;
  grid-template:
                 'current-forecast map popular-cities'
                 'weekly-forecast hourly-forecast hourly-forecast';
                 grid-template-rows: var(--dashboard-first-row-height) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) var(--middle-column-width) minmax(0, 1fr);
}

.dashboard > div:not(.search-bar-container) {
  padding: var(--padding);
  border-radius: var(--border-radius);
}

.dashboard h1 {
  font-weight: 500;
  font-size: 0.9rem;
}

.search-bar-container {
  position: relative;
  grid-area: searchbar;
}

.searchbar {
  width: 100%;
  border: none;
  height: 100%;
  color: #fff;
  font-weight: 300;
  border-radius: 0.5rem;
  padding: 0.25rem 2.5rem;
  background: rgba(0, 0, 0, 0.09) url('/search-icon.png') no-repeat left 3% center / 8%;
}

.search-bar-container > ul {
  z-index: 1;
  top: 120%;
  gap: 0.1rem;
  width: 100%;
  display: none;
  min-height: 100%;
  position: absolute;
  border-radius: 1rem;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.09);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 7px 29px 0 rgba(6, 14, 75, 0.5);
}

.search-bar-container ul li {
  display: flex;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.9rem;
  border-radius: 1rem;
  align-items: center;
  padding: 1rem 0.75rem;
  justify-content: space-between;
}

.search-bar-container li:hover {
  background: rgba(0, 0, 0, 0.2);
}

.search-bar-container ul li span {
  width: 80%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.search-bar-container ul:hover,
.search-bar-container .searchbar:focus + ul {
  display: flex;
}

.favorite-button {
  border: none;
  color: #fff;
  display: grid;
  background: none;
  place-items: center;
  padding: 0.5rem;
}

.favorite-button:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.current-weather-container {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: current-forecast;
  background: rgba(0, 0, 0, 0.09);
}

.current-weather-container .title-container {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.current-weather-container .title-container span {
  font-size: 0.85rem;
  font-weight: 300;
}

.weather-degrees-container {
  display: flex;
  gap: 1rem;
  align-items: center;

}

.weather-degrees-container img {
  width: clamp(5.5rem, 8rem, 50%)
}

.weather-degrees-container > div {
  display: flex;
  flex-direction: column;
}

.degrees {
  position: relative;
}

.degrees::after {
  content: 'o';
  position: absolute;
}

.weather-degrees-container .degrees {
  font-size: clamp(2vw, 4rem, 4vw);
  font-weight: 600;
}

.weather-degrees-container .degrees::after {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 5px;
}

.weather-degrees-container .weather-description {
  font-weight: 300;
  width: max-content;
}

.weather-details {
  display: flex;
  justify-content: space-between;
}

.weather-details div {
  gap: 0.25rem;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  flex-direction: column;
}

.weather-details div svg {
  height: 20px;
  width: 20px;
}

.map-container {
  grid-area: map;
}

.popular-cities {
  gap: 1rem;
  display: flex;
  min-height: 0;
  flex-direction: column;
  grid-area: popular-cities;
  /* TODO: [-] Extract to variable */
  background: rgba(255, 255, 255, 0.075);
}

.popular-cities .cities {
  flex: 1;
  gap: 1rem;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.popular-cities .cities div {
  display: flex;
  cursor: pointer;
  border-radius: 5rem;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  transition: opacity 0.15s ease-in-out;
}

.popular-cities .cities div:hover {
  opacity: 0.6;
}

.popular-cities .cities h2,
.popular-cities .cities span {
  font-size: 0.8rem;
  font-weight: 300;
}

.weekly-forecast {
  gap: 0.5rem;
  display: flex;
  overflow: auto;
  flex-direction: column;
  grid-area: weekly-forecast;
  /* TODO: [-] Extract to variable */
  background: rgba(255, 255, 255, 0.075);
}

.weekly-forecast ul {
  gap: 0.25rem;
  display: flex;
  overflow: auto;
  font-size: 0.85rem;
  flex-direction: column;
}

.weekly-forecast li {
  gap: 1rem;
  display: flex;
  font-weight: 300;
  padding: 8px 10px;
  align-items: center;
  justify-content: start;
  border-radius: 0.5rem;
}

.weekly-forecast li:hover {
  background: rgba(0, 0, 0, 0.2);
}

.weekly-forecast li span:nth-child(2) {
  margin-right: 5px;
}

.weekly-forecast li img {
  width: 1.75rem;
  height: 1.75rem;
}

.hourly-forecast {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  grid-area: hourly-forecast;
  background: rgba(255, 255, 255, 0.075);
}

.hourly-forecast > div {
  gap: 1.5rem;
  display: flex;
  text-wrap: nowrap;
  overflow: auto;
}

.hourly-forecast .weather-item {
  gap: 0.7rem;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  flex-direction: column;
}

.weather-item h1,
.hourly-forecast .weather-item-time {
  font-size: 1.25rem;
  font-weight: 300;
}

.hourly-forecast .weather-item-temp {
  font-size: 1.35rem;
  font-weight: 500;
}

.favorite-item .weather-details,
.hourly-forecast .weather-details {
  display: flex;
  gap: 0.55rem;
}

.favorite-item .weather-details div,
.hourly-forecast .weather-details div {
  gap: 0.45rem;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.favorites-container {
  gap: 1rem;
  display: flex;
  grid-area: content;
  flex-direction: column;
}

.favorites-container ul {
  display: grid;
  height: 100%;
  grid-gap: 2rem;
  overflow-y: auto;
  grid-auto-rows: max-content; 
  grid-template-columns: repeat(auto-fill,minmax(13em,1fr));
}

.favorites-container .weather-item {
  gap: 1rem;
  min-width: 0;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.15s ease-in-out;
}

.favorites-container h1 {
  width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.favorites-container .active,
.favorites-container .weather-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.favorites-container .weather-item div {
  width: 100%;
  display: flex;
  text-wrap: nowrap;
  justify-content: space-around;
}


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes drift {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(20px, -10px); }
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  
  .app-container {
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .app-container {
    width: 90%;
  }
}

/* Support for tablet & mobile */
@media (max-width: 840px) {
  .app-container {
    width: 100%;
    height: 100%;
  }
}
